/* Custom Syles */
/* Tags  */
body {
	background-color: #f1f1f1;
}

header h1 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 2px;
}

/* css classes */
.card-btn a {
	margin: 0 10px;
}
