/* Custom Syles */
/* Tags  */
body {
	background-color: #f1f1f1;
}

header {
	margin-top: 20px;
}

header h1 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 2px;
}

h3 {
	margin-top: 20px;
}

main {
	margin-top: 40px;
}

/* css classes */
.col {
	background-color: white;
}

.card-btn a {
	margin: 0 10px;
}
